---
Checks: "bugprone-*, cppcoreguidelines-*, clang-analyzer-*, misc-*, modernize-*,
  performance-*, -modernize-use-trailing-return-type"
HeaderFilterRegex: ""
WarningsAsErrors: ''
FormatStyle: file
