<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gripper_pincette_gazebo" params="">

    <!-- ros_control plugin -->
    <gazebo>
       <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find gripper_pincette)/config/gripper_controller.yaml</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="structure">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="motor">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="palm_top_shell">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="right_finger_first_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="right_external_rod">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="right_finger_last_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="left_finger_first_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="left_external_rod">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="left_finger_last_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>

  </xacro:macro>

</robot>
