<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="explorer_ros2_control" params="name use_ignition:=^|false can_port:=^|vxcan1 host_id:=^|45">

    <xacro:include filename="$(find ros2_control_explorer)/explorer_description/urdf/explorer_joints.xacro" />

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_ignition}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_ignition}">
          <plugin>ros2_control_explorer/RobotSystem</plugin>
        </xacro:unless>
      </hardware>

      <xacro:explorer_joint_1 />
      <xacro:explorer_joint_2 />
      <xacro:explorer_joint_3 />
      <xacro:explorer_joint_4 />
      <xacro:explorer_joint_5 />
      <xacro:explorer_joint_6 />
      <xacro:explorer_gripper_servo_joint />
      <xacro:explorer_gripper_joints />

    </ros2_control>

  </xacro:macro>

</robot>
