<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ros2_control_explorer)/explorer_description/urdf/explorer_joints.xacro" />

  <xacro:macro name="explorer_ros2_control" params="name use_ignition:=^|false can_port:=^|vxcan1  host_id:=^|45 rt_stream_rate:=^|250 aux_stream_rate:=^|10">

    <xacro:macro name="hw_intf_params">
      <plugin>orthopus_vesc_interface/VESCInterface</plugin>
      <param name="host_id">${host_id}</param>
      <param name="can_port">${can_port}</param>
      <param name="rt_stream_rate">${rt_stream_rate}</param>
      <param name="aux_stream_rate">${aux_stream_rate}</param>
    </xacro:macro>

  <!-- ROS2 Control -->
  <ros2_control name="${name}_joint_1" type="actuator">
    <hardware>
       <xacro:hw_intf_params />
      <param name="can_id">11</param>
    </hardware>
    <xacro:explorer_joint_1 />
  </ros2_control>

  <ros2_control name="${name}_joint_2" type="actuator">
    <hardware>
       <xacro:hw_intf_params />
      <param name="can_id">12</param>
    </hardware>
    <xacro:explorer_joint_2 />
  </ros2_control>

  <ros2_control name="${name}_joint_3" type="actuator">
    <hardware>
       <xacro:hw_intf_params />
      <param name="can_id">13</param>
    </hardware>
    <xacro:explorer_joint_3 />
  </ros2_control>

  <ros2_control name="${name}_joint_4" type="actuator">
    <hardware>
       <xacro:hw_intf_params />
      <param name="can_id">14</param>
    </hardware>
    <xacro:explorer_joint_4 />
  </ros2_control>

  <ros2_control name="${name}_joint_5" type="actuator">
    <hardware>
       <xacro:hw_intf_params />
      <param name="can_id">15</param>
    </hardware>
    <xacro:explorer_joint_5 />
  </ros2_control>

  <ros2_control name="${name}_joint_6" type="actuator">
    <hardware>
       <xacro:hw_intf_params />
      <param name="can_id">16</param>
    </hardware>
    <xacro:explorer_joint_6 />
    <xacro:explorer_gripper_servo_joint />
  </ros2_control>

  <ros2_control name="${name}_gripper" type="system">
    <hardware>
      <!-- <xacro:if value="${use_ignition}">
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </xacro:if> -->
      <xacro:unless value="${use_ignition}">
        <plugin>ros2_control_explorer/RobotSystem</plugin>
      </xacro:unless>
    </hardware>
    <xacro:explorer_gripper_joints />
  </ros2_control>

  </xacro:macro>

</robot>
