<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="explorer">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import explorer urdf file -->
    <xacro:include filename="$(find ros2_control_explorer)/description/urdf/explorer_test.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="explorer.ros2_control.xacro" />


    <xacro:explorer_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
