<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="explorer_gazebo" params="">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control_explorer">
        <parameters>$(find ros2_control_explorer)/config/explorer_controller.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
