<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="explorer_gazebo" params="">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find explorer_bringup)/config/explorer_controller.yaml</parameters>
      </plugin>

    </gazebo>

    <gazebo reference="base_link">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="link_1">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="link_2">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="link_3">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="link_4">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="link_5">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="structure">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="motor">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="palm_top_shell">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="right_finger_first_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="right_external_rod">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="right_finger_last_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="left_finger_first_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="left_external_rod">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>
    <gazebo reference="left_finger_last_phalanx">
      <visual>
          <material>
              <diffuse>1 1 1 1</diffuse>
          </material>
      </visual>
    </gazebo>

    <gazebo reference="camera_explorer">
      <sensor name="camera" type="camera">
        <camera>
          <optical_frame_id>camera_explorer</optical_frame_id>
          <horizontal_fov>1.047</horizontal_fov>
          <image>
              <width>640</width>
              <height>400</height>
          </image>
          <clip>
              <near>0.05</near>
              <far>100</far>
          </clip>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
        <topic>camera</topic>
        <enable_metrics>false</enable_metrics>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>