<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="explorer">
  <xacro:arg name="use_gazebo_classic" default="false" />

  <!-- Import explorer macro -->
  <xacro:include filename="$(find ros2_control_explorer)/description/urdf/explorer_old_description.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <!-- <link name="world"/> -->

  <xacro:explorer_old_description/>

  <!-- Import explorer ros2_control description -->
  <xacro:include filename="$(find ros2_control_explorer)/description/ros2_control/explorer.ros2_control.xacro" />

  <xacro:explorer_ros2_control name="explorer" use_gazebo_classic="$(arg use_gazebo_classic)"/>

  <xacro:if value="$(arg use_gazebo_classic)">
    <!-- Import Gazebo Classic definitions + plugin -->
    <xacro:include filename="$(find ros2_control_explorer)/description/gazebo/explorer.gazebo.xacro" />
    <xacro:explorer_gazebo/>
  </xacro:if>

</robot>
