<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gripper_pincette">

  <xacro:include filename="$(find gripper_pincette)/description/urdf/gripper_pincette_description.urdf.xacro" />

  <!-- Import gripper_pincette ros2_control description -->
  <xacro:include filename="$(find gripper_pincette)/description/ros2_control/gripper_pincette_ign.ros2_control.xacro" />

  <xacro:gripper_pincette/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <!-- base_joint fixes base_link to the environment -->
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="structure"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <xacro:gripper_pincette_ros2_control_ign name="gripper_pincette"/>

  <xacro:include filename="$(find gripper_pincette)/description/gazebo/gripper_pincette_ign.gazebo.xacro" />
  <xacro:gripper_pincette_gazebo_ign/>

  
</robot>

