<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gripper_pincette">

  <xacro:include filename="$(find gripper_pincette)/description/urdf/gripper_pincette_description.urdf.xacro" />

  <!-- Import gripper_pincette ros2_control description -->
  <xacro:include filename="$(find gripper_pincette)/description/ros2_control/gripper_pincette.ros2_control.xacro" />

  <xacro:gripper_pincette/>

  <xacro:gripper_pincette_ros2_control name="gripper_pincette"/>

  <xacro:include filename="$(find gripper_pincette)/description/gazebo/gripper_pincette.gazebo.xacro" />
  <xacro:gripper_pincette_gazebo/>

  
</robot>
